# 1)**Defind about list.**
 - Lists are used to store multiple items in a single variable.

 - Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

 - List items are ordered, changeable, and allow duplicate values.

 - List items are indexed, the first item has index [0], the second item has index [1] etc.

 - When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

 - If you add new items to a list, the new items will be placed at the end of the list.

# 2)**Create 10 examples storing different data types.**

In [ ]:
A = [7,3,3,3,9,8,4,6,1,7,9]

In [ ]:
B = ["o","s","k","i","d"]

In [39]:
C = [1.7,8.2,6.3,4.9,0.5]

In [ ]:
D = ["a",7,"b",8,"c",32]

In [ ]:
E = ["APPLE","BANANA","CHERRY","D0G"]

In [ ]:
F = [1,2,2,3,3,9,"a","B"]

In [ ]:
G = [1+1J, 2+0J, 7+1J]

In [ ]:
H = [True, False, True, False]

In [ ]:
I = ["appLE", "BAd", "haPPy", 2, 2 ,6 ,6 ]

In [52]:
J = [1,7+2j,"aPPle",21,"ball",'c']

# 3)**Create a list with 15 elements you need to access each and every element from list both postive and negitive.**

In [54]:
names = ["ram","raju","sai","ravi","mani","yogesh","pavan","shiva","arun","ganesh","suraj","mallesh","vikram","suresh","ramesh","amar"]

print(names[0])
print(names[1])
print(names[8])
print(names[10])
print(names[15])
print(names[14])


print(names[-1])
print(names[-8])
print(names[-12])
print(names[-14])

print(names)

ram
raju
arun
suraj
amar
ramesh
amar
arun
mani
sai
['ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar']

# 4)**Slicing both positive and negitive.**

In [22]:
my_list = ["ram","raju","sai","ravi","mani","yogesh","pavan","shiva","arun","ganesh","suraj","mallesh","vikram","suresh","ramesh","amar"]

print(my_list[4:14])

print(my_list[ :8])

print(my_list[7: ])

print(my_list[:])

print(my_list[-9:-4])

print(my_list[ :-3])

print(my_list[-7: ])

print(my_list[ :-1])

['mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh']
['ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva']
['shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar']
['ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar']
['shiva', 'arun', 'ganesh', 'suraj', 'mallesh']
['ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram']
['ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar']
['ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh']

# 5)**Concatentoin any 5 list.**

In [23]:
a = [1,2,3,4,5]
b = [7,7,9,8,6,]
c = a+b
print(c)

[1, 2, 3, 4, 5, 7, 7, 9, 8, 6]

In [29]:
my_list1 = ["ram","raju","sai","ravi","mani","yogesh","pavan","shiva"]
my_list2 = ["arun","ganesh","suraj","mallesh","vikram","suresh","ramesh","amar"]

my_list3 = my_list1 + my_list2
print(my_list3)

['ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar']

In [31]:
a = ["apple","ball","ball"]
b = ["cat","dog","cat"]
c = a+b
print(c)

['apple', 'ball', 'ball', 'cat', 'dog', 'cat']

In [32]:
x = ['pen','books','phone']
y = ['wifi','mouse','cpu']
z = x+y
print(z)

['pen', 'books', 'phone', 'wifi', 'mouse', 'cpu']

In [34]:
q = ['ram','ravan']
r = [246,357]
s = q+r
print(s)

['ram', 'ravan', 246, 357]

# 6)**Repetition and 5 list.**

In [36]:
my_list1 = ["ram","raju","sai","ravi","mani","yogesh","pavan","shiva"]

my_list2 = my_list1 * 5
print(my_list2)

['ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva']

In [38]:
my_list2 = ["arun","ganesh","suraj","mallesh","vikram","suresh","ramesh","amar"]
my_list1 = my_list2 * 7
print(my_list1)

['arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar']

In [41]:
C = [1.7,8.2,6.3,4.9,0.5]
c = C * 9
print(c)

[1.7, 8.2, 6.3, 4.9, 0.5, 1.7, 8.2, 6.3, 4.9, 0.5, 1.7, 8.2, 6.3, 4.9, 0.5, 1.7, 8.2, 6.3, 4.9, 0.5, 1.7, 8.2, 6.3, 4.9, 0.5, 1.7, 8.2, 6.3, 4.9, 0.5, 1.7, 8.2, 6.3, 4.9, 0.5, 1.7, 8.2, 6.3, 4.9, 0.5, 1.7, 8.2, 6.3, 4.9, 0.5]

In [48]:
J = [1,"aPPle","ball"]
j = J * 7
print(j)

[1, 'aPPle', 'ball', 1, 'aPPle', 'ball', 1, 'aPPle', 'ball', 1, 'aPPle', 'ball', 1, 'aPPle', 'ball', 1, 'aPPle', 'ball', 1, 'aPPle', 'ball']

In [53]:
E = ["APPLE","BANANA","CHERRY","D0G"]
f = E * 8

print(f)

['APPLE', 'BANANA', 'CHERRY', 'D0G', 'APPLE', 'BANANA', 'CHERRY', 'D0G', 'APPLE', 'BANANA', 'CHERRY', 'D0G', 'APPLE', 'BANANA', 'CHERRY', 'D0G', 'APPLE', 'BANANA', 'CHERRY', 'D0G', 'APPLE', 'BANANA', 'CHERRY', 'D0G', 'APPLE', 'BANANA', 'CHERRY', 'D0G', 'APPLE', 'BANANA', 'CHERRY', 'D0G']

# 7)**Modity 5 element in list of 15 elements by using index and slicing.**

In [71]:
names = ["ram","raju","sai","ravi","mani","yogesh","pavan","shiva","arun","ganesh","suraj","mallesh","vikram","suresh","ramesh","amar"]

# index

A = names.index ("yogesh")
print(A)

j = names.index ("mani")
print(j)

C = names.index ("arun")
print(C)

nn = names.index ("suraj")
print(nn)

E = names.index ("vikram")
print(E)

# slicing

print(names[3:15])

print(names[ :8])

print(names[14: ])

print(names[-12:-2])

print(names[ :-11])

print(names[-15: ])

5
4
8
10
12
['ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh']
['ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva']
['ramesh', 'amar']
['mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh']
['ram', 'raju', 'sai', 'ravi', 'mani']
['raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar']

# 8)**Methods 9 and more with examples.**