# 1)**Define about string.**

   - string is a sequence of characters

   - In Python, strings are used for representing textual data.
   
   - A string is a sequence of characters enclosed in either single quotes (‘’) or double quotes (“”).
   
   - The Python language provides various built-in methods and functionalities to work with strings efficiently.

# 2)**create 10 elements using 'single qoutes' and "double qoutes".**

In [ ]:
A = 'Asuran movie'

print(A)

a = "asuran movie"

print(a)

B = '1,2,4,6,8'

print(B)

b = "12468"

print(b)

C = '152.347'

print(C)

c = "13+1j"

print(c)

D = 'true'

print(D)

d = "false"

print(d)

E = 'ram krishna \n'

print(E)

e =""

print("ram \n krishna" ,e)

F = "Agent name is vikram and  his  60 old years old "

print(F*3)

f = "Agent name is vikram \n and  he is 60 old years old "

print(f*10)

Asuran movie
asuran movie
1,2,4,6,8
12468
152.347
13+1j
true
false
ram krishna

ram
 krishna
Agent name is vikram and  his  60 old years old Agent name is vikram and  his  60 old years old Agent name is vikram and  his  60 old years old
Agent name is vikram
 and  he is 60 old years old Agent name is vikram
 and  he is 60 old years old Agent name is vikram
 and  he is 60 old years old Agent name is vikram
 and  he is 60 old years old Agent name is vikram
 and  he is 60 old years old Agent name is vikram
 and  he is 60 old years old Agent name is vikram
 and  he is 60 old years old Agent name is vikram
 and  he is 60 old years old Agent name is vikram
 and  he is 60 old years old Agent name is vikram
 and  he is 60 old years old

# 3)**Create a string 50 characters and access any 10 using index and slicing.**

In [ ]:


army = "9 para sf is an elite force of indian army was raised in 1966 as the 9th parachute commando battalion "

# index

print(len(army))

print("index 0 = ",army[0])
print("index 5 = ",army[5])
print("index 2 = ",army[2])
print("index 3 = ",army[3])
print("index 36 = ", army [36])
print(-47 ,army[-47])
print(-1,army[-1])
print(99,army[99])
print(101,army[101])
print(-51,army[-51])

# slicing

print(army[12:28])
print(army[ :67])
print(army[78:])
print(army[-23:-11])
print(army[-92: ])
print(army[ :-1])

102
index 0 =  9
index 5 =  a
index 2 =  p
index 3 =  a
index 36 =  n
-47 n
-1
99 o
101
-51 e
 an elite force
9 para sf is an elite force of indian army was raised in 1966 as th
hute commando battalion
ute commando
is an elite force of indian army was raised in 1966 as the 9th parachute commando battalion
9 para sf is an elite force of indian army was raised in 1966 as the 9th parachute commando battalion

# 4)**Explain about string format.**


   - **phython string are classified into three types**
  
   - 1) old style formatting ( % operator).

   - 2) format method ( {} ) .

   - 3) string interpolation ( f-string )

In [ ]:
# 0ld style formatting.

name = "vikram"
age = 60
print("my name is %s and my age is %d" %(name,age))

# format method

name = "vikram"
age = 60
print("my name is {} and my age is {}".format(name,age))

# string interpolation

name = "vikram"
age = 60
print(f"my name is {name} and my age is {age}")

my name is vikram and my age is 60
my name is vikram and my age is 60
my name is vikram and my age is 60

# 5)**Exlain about string operation**

   - 1) concatenation

 - combining two or more string

   - 2)repetition

 - repeating string multipul times

In [ ]:
# concatenation

A = "john"
B = "wick"

c = A + " " + B

print(c)

C = A + B

print(C)

# repetition

x = A +" "+ B

print(x*10)

X = A + B + "\n"

print(X*29)

john wick
johnwick
john wickjohn wickjohn wickjohn wickjohn wickjohn wickjohn wickjohn wickjohn wickjohn wick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick
johnwick

# 6)**python string methods.**

  - python has a set of built-in methods that you can use on strings.


capitalize()

    Converts the first character to upper case
   
casefold()
  
    Converts string into lower case

center()

	Returns a centered string

count()

	Returns the number of times a specified value occurs in a string

encode()


    Returns an encoded version of the string

endswith()

    Returns true if the string ends with the specified value

expandtabs()

	Sets the tab size of the string

find()

	Searches the string for a specified value and returns the position of where it was found

format()

    Formats specified values in a string

format_map()

	Formats specified values in a string

index()

    Searches the string for a specified value and returns the position of where it was found

isalnum()

    Returns True if all characters in the string are alphanumeric

isalpha()


	Returns True if all characters in the string are in the alphabet

isascii()

	Returns True if all characters in the string are ascii characters

isdecimal()

    eturns True if all characters in the string are digits

isidentifier()

    Returns True if the string is an identifier

islower()

    Returns True if all characters in the string are lower case

isnumeric()

	Returns True if all characters in the string are numeric

isprintable()

	Returns True if all characters in the string are printable

isspace()

	Returns True if all characters in the string are whitespaces

istitle()

	Returns True if the string follows the rules of a title

isupper()

	Returns True if all characters in the string are upper case

join()

    Converts the elements of an iterable into a string

ljust()

	Returns a left justified version of the string

lower()

	Converts a string into lower case

lstrip()

	Returns a left trim version of the string

maketrans()

    Returns a translation table to be used in translations

partition()

    Returns a tuple where the string is parted into three parts

replace()

    Returns a string where a specified value is replaced with a specified value

rfind()

	Searches the string for a specified value and returns the last position of where it was found

rindex()

    Searches the string for a specified value and returns the last position of where it was found

rjust()

	Returns a right justified version of the string

rpartition()

	Returns a tuple where the string is parted into three parts

rsplit()

	Splits the string at the specified separator, and returns a list

rstrip()

	Returns a right trim version of the string

split()

    Splits the string at the specified separator, and returns a list

splitlines()

	Splits the string at line breaks and returns a list

startswith()

	Returns true if the string starts with the specified value

strip()

	Returns a trimmed version of the string

swapcase()

	Swaps cases, lower case becomes upper case and vice versa

title()

	Converts the first character of each word to upper case

translate()

	Returns a translated string

upper()

    Converts a string into upper case

zfill()

	Fills the string with a specified number of 0 values at the beginning

In [25]:
# 1) len()

A = "vikram"

print(len(A))

# 2) lower()/upper()

B = "LEO das"

print(B.upper())

print(B.lower())

# 3) strip()

C = "   vikram  "

print(C.strip())

# 4) replace()

D = "hello world"

d = D.replace("world", "python")

print(d)

# 5) split()

E = "hello, world"

e = E.split(",")

print(e)

# 6) join()

F = "hello","world"

f = "-".join(F)

print(f)


# 7) capitalize()

txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

# 8) casefold()

txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

# 9) center()

txt = "banana"

x = txt.center(10)

print(x)

# 10) encode()

txt = "My name is Ståle"

x = txt.encode()

print(x)

# 11) endswith()

txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

# 12 expandtabs()

txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

# 13 find()

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

# 14 format()

txt = "For only {price:.2f} dollars!"

print(txt.format(price = 49))

# 15 format

txt = "For only {price:.2f} dollars!"

print(txt.format(price = 73))

# 16 index()


txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

# 17 isalnum()

txt = "Company12"

x = txt.isalnum()

print(x)

# 18 isalpha()

txt = "CompanyX"

x = txt.isalpha()

print(x)

# 19 isascii()

txt = "Company123"

x = txt.isascii()

print(x)

# 20 isdecimal()

txt = "1234"

x = txt.isdecimal()

print(x)

# 21 isdigit()

txt = "50800"

x = txt.isdigit()

print(x)

# 22 isidentifier()

txt = "Demo"

x = txt.isidentifier()

print(x)

# 23 isnumeric()

txt = "565543"

x = txt.isnumeric()

print(x)

# 24 isprintable()

txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

# 25 isspace()

txt = "   "

x = txt.isspace()

print(x)

# 26 istitle()

txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

# 27 isupper()

txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

# 27 islower()

txt = "hello world!"

x = txt.islower()

print(x)


# 28 ljust()

txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

# 29 isupper()

txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

# 30 maketrans()

txt = "Hello Sam!"

mytable = str.maketrans("S", "P")

print(txt.translate(mytable))

# 31 rfind()

txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

# 32 rindex()

txt = "Hello, welcome to my world."

x = txt.rindex("welcome")

print(x)

# 33 rjust()

txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

# 34 rpartition()

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

# 35 rsplit()

txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

# 35 rstrip()

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")


# 36 splitlines()

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

# 38 startswith()

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

# 39 swapcase()


txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

# 40 title()

txt = "Hello my friends"

x = txt.title()

print(x)

# 41 zfill()

txt = "50"

x = txt.zfill(10)

print(x)

6
LEO DAS
leo das
vikram
hello python
['hello', ' world']
hello-world
Hello, and welcome to my world.
hello, and welcome to my world!
  banana
b'My name is St\xc3\xa5le'
True
H e l l o
7
For only 49.00 dollars!
For only 73.00 dollars!
7
True
True
True
True
True
True
True
True
True
True
True
True
banana               is my favorite fruit.
True
Hello Pam!
12
7
              banana is my favorite fruit.
('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')
['apple', 'banana', 'cherry']
of all fruits      banana is my favorite
['Thank you for the music', 'Welcome to the jungle']
True
hELLO mY nAME iS peter
Hello My Friends
0000000050