# 1)**Define about tuple.**

   - In Python, a tuple is a data structure that stores multiple items in a single variable in an immutable, ordered collection.

   - Tuples are immutable, meaning that once created, their contents cannot be changed.
   
   - This makes them ideal for storing data that should not be modified, such as database records.

   

# 2)**creat 10 examples of tuple**

In [3]:
A = (1,687,887,296,8657)

print(A)

print(type(A))

(1, 687, 887, 296, 8657)
<class 'tuple'>

In [4]:
a = ("apple", "banana", "cherry")

print(a)

print(type(a))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [5]:
B = (74.98,57.4,86.98,486.58)

print(B)

print(type(B))

(74.98, 57.4, 86.98, 486.58)
<class 'tuple'>

In [6]:
b = (83+4j,49+394j,5+84j)

print(b)

print(type(b))

((83+4j), (49+394j), (5+84j))
<class 'tuple'>

In [7]:
C = (True,False,True,False)

print(C)

print(type(C))

(True, False, True, False)
<class 'tuple'>

In [9]:
c = (48865)

print(c)

print(type(c))

D = (48865,)

print(D)

print(type(D))

48865
<class 'int'>
(48865,)
<class 'tuple'>

In [11]:
E = ("hello",)

print(E)

print(type(E))

('hello',)
<class 'tuple'>

In [12]:
e = ("hello", 5498,73+5j,75.58,86>68,)

print(e)

print(type(e))

('hello', 5498, (73+5j), 75.58, True)
<class 'tuple'>

# 3)**Creat a tuple with 10 examples and access with index and slicing.**

In [25]:
ipl = (2020,"mi",2021,"csk",2022,"gt",2023,"csk",2024,"kkr",2025,"upcoming")

print(ipl)

print(type(ipl))

# index

print(ipl[0])

print(ipl[1])

print(ipl[2])

print(ipl[3])

print(ipl[4])

print(ipl[5])

print(ipl[-1])

print(ipl[-2])

print(ipl[-3])

print(ipl[-4])

print(ipl[-5])

print(ipl[-6])

# slicing

print(ipl[0:5])

print(ipl[3:6])

print(ipl[2:7])

print(ipl[5:8])

print(ipl[1:9])

print(ipl[7:10])

print(ipl[-9:-1])

print(ipl[-8:-1])

print(ipl[-7:-1])

print(ipl[-6:-1])

print(ipl[-5:-1])

(2020, 'mi', 2021, 'csk', 2022, 'gt', 2023, 'csk', 2024, 'kkr', 2025, 'upcoming')
<class 'tuple'>
2020
mi
2021
csk
2022
gt
upcoming
2025
kkr
2024
csk
2023
(2020, 'mi', 2021, 'csk', 2022)
('csk', 2022, 'gt')
(2021, 'csk', 2022, 'gt', 2023)
('gt', 2023, 'csk')
('mi', 2021, 'csk', 2022, 'gt', 2023, 'csk', 2024)
('csk', 2024, 'kkr')
('csk', 2022, 'gt', 2023, 'csk', 2024, 'kkr', 2025)
(2022, 'gt', 2023, 'csk', 2024, 'kkr', 2025)
('gt', 2023, 'csk', 2024, 'kkr', 2025)
(2023, 'csk', 2024, 'kkr', 2025)
('csk', 2024, 'kkr', 2025)

# 4&5)**Tuple operations.**

  - 1. concatenation

  - combining two tuples.

  - 2. repetition

  - repeating a tuples.

In [31]:

five = ("dharmaraju","bhima","arjun","nakula","sahadeva")

one = ("karna",)

print(type(five))

print(type(one))



print(one)

# concatenation

print(five+one)

# repetition

print(five*3)

<class 'tuple'>
<class 'tuple'>
('karna',)
('dharmaraju', 'bhima', 'arjun', 'nakula', 'sahadeva', 'karna')
('dharmaraju', 'bhima', 'arjun', 'nakula', 'sahadeva', 'dharmaraju', 'bhima', 'arjun', 'nakula', 'sahadeva', 'dharmaraju', 'bhima', 'arjun', 'nakula', 'sahadeva')

# 6)**methods of tuples.**

  - count()
  
        Returns the number of times a specified value occurs in a tuple.

  - index()
  
    	Searches the tuple for a specified value and returns the position of where it was found

In [34]:
# count()

A = (73,64,599,598,213,599,537)

print(A.count(599))

# index()

print(A.index(599))

(73, 64, 599, 598, 213, 599, 537)
<class 'tuple'>
2
2